<form [formGroup]="bookForm">

  <div class="form-group">
    <label for="isbn">ISBN</label>
    <input formControlName="isbn" type="text" class="form-control" id="isbn">

    <div *ngIf="isInvalid('isbn')" class="feedback-error">
      Fehler:
    </div>

    <div *ngIf="hasError('isbn', 'required')" class="feedback-error">
      Bitte geben Sie eine ISBN an.
    </div>

    <div *ngIf="hasError('isbn', 'minlength')" class="feedback-error">
      Bitte geben Sie eine ISBN mit mindestens 3 Zeichen an.
    </div>
  </div>

  <div class="form-group">
    <label for="title">Titel</label>
    <input formControlName="title" type="text" class="form-control" id="title">
  </div>

  <div class="form-group">
    <label for="description">Beschreibung</label>
    <textarea formControlName="description" class="form-control" id="description"></textarea>
  </div>

  <div class="form-group">
    <button
      type="submit"
      class="btn btn-primary mb-4"
      [disabled]="bookForm.invalid"
      >Erzeugen</button>
  </div>

</form>
